{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Transcendence</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static 'spa/css/images/favicon.ico'%}">
  <!--<link rel="stylesheet" href="{% static 'spa/css/cyberpunk.css' %}" />-->
  <link rel="stylesheet" href="{% static 'spa/css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'spa/css/night-city-mode.css' %}" />
  <link rel="stylesheet" href="{% static 'spa/css/pong.css' %}" />
  <link rel="stylesheet" href="{% static 'spa/css/shifumi.css' %}" />
  <link rel="stylesheet" href="{% static 'spa/css/cyberpunk.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" rel="stylesheet" />
</head>
    <body>
        <div id="root">
            <nav id="main-nav" class="sidebar">
              <a href="/" id="nav-home" onclick="route()">Home</a>
              <a href="/pong" id="nav-pong" onclick="route()">Pong</a>
              <a href="/shifumi" id="nav-shifumi" onclick="route()">ShiFuMi</a>
              <a href="/profile" id="nav-profile" onclick="route()">Profile</a>
              <a href="/chat" id="nav-chat" onclick="route()">Chats</a>
              <!--<a href="/friend_requests" id="nav-friend-requests" onclick="route()">Friend Requests</a>-->
              <a href="/about" id="nav-about" onclick="route()">About</a>
              <!--<a href="/logout" id="nav-logout" onclick="route()">Logout</a>-->
              <button id="logout-button" class="btn btn-primary btn-block">
                <i class="mdi mdi-logout"></i>
              </button>
            </nav>
            <div id="main-page"><!-- DYNAMIC CONTENT --></div>
        </div>

        <!-- NIGHT CITY MODE BUTTON -->
        <div class="buttons-container">
          <button id="profile-button" target="_blank">
            <img id="profile-button-logo" src="/media/profile_pics/default.jpg" width="40" height="45" class="mdi mdi-account-circle" alt="Profile Image">
          </button>
          <button id="nightCityModeBtn" aria-label="Toggle Night Mode">
            <img id="nightCityModeBtnImg" src="{% static 'spa/css/images/samurai.png'%}" width="40" height="45" alt="Button Image">
          </button>
          <audio id="nightCityModeMusic" src="{% static 'spa/js/audio/Infraction.mp3' %}"></audio>
          <audio id="dayModeMusic" src="{% static 'spa/js/audio/sci-fi-survival-dreamscape.mp3' %}"></audio>
          <audio id="hover_day" src="{% static 'spa/js/audio/hover_day.wav' %}"></audio>
          <audio id="click_day" src="{% static 'spa/js/audio/click_day.wav' %}"></audio>
          <audio id="hover_night" src="{% static 'spa/js/audio/hover_night.wav' %}"></audio>
          <audio id="click_night" src="{% static 'spa/js/audio/click_night.wav' %}"></audio>
        </div>

        <button id="audioButton" class="btn btn-primary btn-block">
          <i class="mdi mdi-volume-high"></i>
        </button>

        <!-- SCRIPTS (router.js ALWAYS in last place) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>
        <script type="module" src="{% static 'spa/js/buttons.js' %}"></script>
        <script type="module" src="{% static 'spa/js/auth.js' %}"></script>
        <script type="module" src="{% static 'spa/js/friend_managment.js' %}"></script>
        <script type="module" src="{% static 'spa/js/utils.js' %}"></script>
        <script type="module" src="{% static 'spa/js/audio.js' %}"></script>
        <script type="module" src="{% static 'spa/js/router.js' %}"></script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            // Observe changes to the main-page div
            const observer = new MutationObserver(function(mutationsList, observer) {
              for (let mutation of mutationsList) {
                if (mutation.type === 'childList') {
                  if (document.getElementById('pong-game')) {
                    //loadPongScript();
                    const script = document.createElement('script');
                    script.src = "{% static 'spa/js/pong.js' %}";
                    document.head.appendChild(script);
                  }
                  if (document.getElementById('shifumi-game')) {
                    //loadPongScript();
                    const script = document.createElement('script');
                    script.src = "{% static 'spa/js/shifumi.js' %}";
                    document.head.appendChild(script);
                  }
                }
              }
            });              
            observer.observe(document.getElementById('main-page'), { childList: true, subtree: true });              
          });
        </script>
    </body>
</html>
