<!DOCTYPE html>
<html lang="en">
<head>
  <title>Transcendence</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../css/styles.css" />
  <link rel="stylesheet" href="../../css/night-city-mode.css" />
  <link rel="stylesheet" href="../../css/pong.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
    <body>
        <div id="root">
            <!-- SIDEBAR -->
            <nav id="main-nav" class="sidebar">
                <a href="/" onclick="route()">Home</a>
                <a href="/pong" onclick="route()">Pong</a>
                <a href="/shifumi" onclick="route()">ShiFuMi</a>
                <a href="/about" onclick="route()">About</a>
                <a href="/logout" onclick="route()">Logout</a>
            </nav>
            <div id="main-page"><!-- DYNAMIC CONTENT --></div>
        </div>

        <!-- NIGHT CITY MODE BUTTON -->
        <button id="nightCityModeBtn" aria-label="Toggle Night Mode">
            <i class="mdi mdi-brightness-2">
        </button>
    
        <!-- SCRIPTS (router.js ALWAYS in last place) -->
        <script src="../../js/pong.js"></script>
        <script src="../../js/buttons.js"></script>
        <script src="../../js/router.js"></script>
    </body>
</html>
