{% extends "SinglePageApp/base.html" %}

{% block content %}
  <div id="homeContent" class="jumbotron text-center">
    <h1>Transcendence</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>
  
  <div id="pongContent" class="container" style="display: none;">
    <div class="row">
      <canvas id="pong"></canvas>
    </div>
  </div>

  <div id="shiFuMiContent" class="container" style="display: none;">
    <!-- Shi-Fu-Mi game content goes here -->
  </div>
{% endblock %}


<!--
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Transcendence</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'SinglePageApp/css/night-city-mode.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'SinglePageApp/css/sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'SinglePageApp/css/pong.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'SinglePageApp/css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{% static 'SinglePageApp/js/login.js' %}" defer></script>
  <script src="{% static 'SinglePageApp/js/buttons.js' %}" defer></script>
  <script src="{% static 'SinglePageApp/js/pong.js' %}" defer></script>
  <script src="{% static 'SinglePageApp/js/app.js' %}" defer></script>
</head>
<body>

<div id="loginContainer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Login</h2>
        <form id="loginForm" role="form">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control" name="username" required aria-label="Username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" required aria-label="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="contentContainer" style="display: none;">
  <div class="sidebar">
    <button id="homeBtn" class="btn btn-default" aria-label="Home" data-target="homeContent">Home</button>
    <button id="pongBtn" class="btn btn-default" aria-label="P0ng" data-target="pongContent">P0ng</button>
    <button id="shiFuMiBtn" class="btn btn-default" aria-label="Shi-Fu-Mi" data-target="shiFuMiContent">Shi-Fu-Mi</button>
    <button id="logoutBtn" class="btn btn-default" aria-label="Log Out">Log Out</button>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-right">
          <button id="nightCityModeBtn" class="btn btn-xs" aria-label="Toggle Night Mode">🌜</button>
        </div>
      </div>
    </div>

    <div id="homeContent" class="jumbotron text-center">
      <h1>Transcendence</h1>
      <p>Resize this responsive page to see the effect!</p> 
    </div>
    
    <div id="pongContent" class="container" style="display: none;">
      <div class="row">
        <canvas id="pong"></canvas>
      </div>
    </div>

    <div id="shiFuMiContent" class="container" style="display: none;">
      <!-- Shi-Fu-Mi game content goes here -->
    </div>
  </div>
</div>

</body>
</html>

-->