@import url(https://fonts.googleapis.com/css?family=Play:400,700);

.loader {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 0;
   height: 0;
}

.loader_ring {
   width: 200px;
   height: 200px;
   border: 50px solid rgba(255, 190, 0, 0.08);
   position: absolute;
   border-radius: 100%;
   left: -169px;
   top: -170px;
   -webkit-animation: outerPulse 1s infinite;
   -moz-animation: outerPulse 1s infinite;
   -o-animation: outerPulse 1s infinite;
   -ms-animation: outerPulse 1s infinite;
   animation: outerPulse 1s infinite; /* Standard syntax */
}

.loader_ascii {
   position: absolute;
   left: -80px;
   top: -70px;
   width: 250px;
   height: 250px;
   overflow: hidden;
}

.loader_ascii p {
   position: absolute;
   top: -20px;
   -webkit-animation: ascii_art 1s infinite;
   -moz-animation: ascii_art 1s infinite;
   -o-animation: ascii_art 1s infinite;
   -ms-animation: ascii_art 1s infinite;
   animation: ascii_art 1s infinite; /* Standard syntax */
}

.loader_credit {
   position: absolute;
   left: -80px;
   top: 70px;
   width: 200px;
   height: 200px;
   overflow: hidden;
}

.loader_credit p {
   position: absolute;
   top: -20px;
   -webkit-animation: textCenter 1s infinite;
   -moz-animation: textCenter 1s infinite;
   -o-animation: textCenter 1s infinite;
   -ms-animation: textCenter 1s infinite;
   animation: textCenter 1s infinite; /* Standard syntax */
}

.loader_inner__text {
   position: absolute;
   left: -80px;
   top: -70px;
   width: 200px;
   height: 200px;
   overflow: hidden;
}

.loader_inner__text p {
   position: absolute;
   top: -20px;
   -webkit-animation: textLeft 2s infinite;
   -moz-animation: textLeft 2s infinite;
   -o-animation: textLeft 2s infinite;
   -ms-animation: textLeft 2s infinite;
   animation: textLeft 2s infinite; /* Standard syntax */
}

.loader_inner__data {
   position: absolute;
   left: -80px;
   top: 70px;
   left: -25px;
   width: 200px;
   height: 200px;
   overflow: hidden;
}

.loader_inner__data p {
   position: absolute;
   top: -20px;
   -webkit-animation: textBottom 2s infinite;
   -moz-animation: textBottom 2s infinite;
   -o-animation: textBottom 2s infinite;
   -ms-animation: textBottom 2s infinite;
   animation: textBottom 2s infinite; /* Standard syntax */
}

.loader p {
   color: #efc02b;
   /* color: black; */
   font-size: 4px;
   width: 50px;
}

.loader p span {
   background-color: #efc02b;
   /* background-color: black; */
}

@-webkit-keyframes textLeft {
   0% { top: 0; }
   20% { top: -3px; }
   40% { top: -5px; }
   45% { top: -10px; }
   60% { top: 0px; }
   80% { top: -14px; }
   100% { top: 0px; }
}

@keyframes textLeft {
   0% { top: 0; }
   20% { top: -3px; }
   40% { top: -5px; }
   45% { top: -10px; }
   60% { top: 0px; }
   80% { top: -14px; }
   100% { top: 0px; }
}

@-webkit-keyframes ascii_art {
   0% { left: 0px; }
   20% { left: -1px }
   40% { left: 0px }
   45% { left: +3px }
   60% { left: 0px }
   80% { left: -3px }
   100% { left: 0px }
}

@keyframes ascii_art {
   0% { left: 0px; }
   20% { left: -1px }
   40% { left: 0px }
   45% { left: +3px }
   60% { left: 0px }
   80% { left: -3px }
   100% { left: 0px }
}

@-webkit-keyframes textBottom {
   0% { top: 0; }
   20% { top: -10px; }
   40% { top: -20px; }
   45% { top: 0px; }
   60% { top: -30px; }
   80% { top: -12px; }
   100% { top: 0px; }
}

@keyframes textBottom {
   0% { top: 0; }
   20% { top: -10px; }
   40% { top: -20px; }
   45% { top: 0px; }
   60% { top: -30px; }
   80% { top: -12px; }
   100% { top: 0px; }
}

@-webkit-keyframes textCenter {
   0% { left: 0px; }
   20% { left: -1px }
   40% { left: +1px }
   45% { left: -1px }
   60% { left: +1px }
   80% { left: -1px }
   100% { left: +1px }
}

@keyframes textCenter {
   0% { left: 0px; }
   20% { left: -1px }
   40% { left: +1px }
   45% { left: -1px }
   60% { left: +1px }
   80% { left: -1px }
   100% { left: +1px }
}

@-webkit-keyframes outerPulse {
   0% { transform: scale(0.5); opacity: 0.7; }
   50% { transform: scale(1.5); opacity: 1; }
   100% { transform: scale(0.5); opacity: 0.7; }
}

@keyframes outerPulse {
   0% { transform: scale(0.5); opacity: 0.7; }
   50% { transform: scale(1.5); opacity: 1; }
   100% { transform: scale(0.5); opacity: 0.7; }
}