:root {
    --glitched-duration: 0.9s;
    --glitched-long-duration: 3s;
    --yellow-color: #f9f002;
    --yellow-color-opacity: #f9f00242;
    --orange-color: #ff9800;
    --border-color: #8ae66e;
    --red-color: #ff003c;
    --blue-color: #0c5f74;
    --green-color: #298d29;
    --purple-color: purple;
    --neon-color: #39ff14;
    --black-color: #000;
  }
  
  @font-face {
    font-family: 'CP2077';
    src: url('fonts/Cyberpunk-Regular.ttf');
    font-weight: normal;
    font-size: normal;
  }
  
  body {
    background-color: var(--yellow-color);
    padding: 0px;
    margin: 0px;
    font-size: 20px;
  }

  
  /* Form fields */
  
  input[type="text"].cyberpunk,
  input[type="date"].cyberpunk,
  input[type="time"].cyberpunk,
  input[type="file"].cyberpunk,
  input[type="number"].cyberpunk,
  input[type="phone"].cyberpunk,
  input[type="email"].cyberpunk,
  input[type="password"].cyberpunk,
  textarea.cyberpunk,
  select.cyberpunk,
  .cyberpunk input[type="text"],
  .cyberpunk input[type="date"],
  .cyberpunk input[type="time"],
  .cyberpunk input[type="file"],
  .cyberpunk input[type="number"],
  .cyberpunk input[type="phone"],
  .cyberpunk input[type="email"],
  .cyberpunk input[type="password"],
  .cyberpunk textarea,
  .cyberpunk select {
    width: calc(100% - 30px);
    border: 30px solid var(--black-color);
    border-left: 5px solid var(--black-color);
    border-right: 5px solid var(--black-color);
    border-bottom: 15px solid var(--black-color);
    clip-path: polygon(
      0px 25px,
      26px 0px,
      calc(60% - 25px) 0px,
      60% 25px,
      100% 25px,
      100% calc(100% - 10px),
      calc(100% - 15px) calc(100% - 10px),
      calc(80% - 10px) calc(100% - 10px),
      calc(80% - 15px) calc(100% - 0px),
      10px calc(100% - 0px),
      0% calc(100% - 10px)
    );
    margin-bottom: 10px;
    padding: 12px;
    font-size: 1.7rem;
    font-weight: 700;
    /*caret-shape: underscore;*/
  }
  
  input[type="password"].cyberpunk,
  .cyberpunk input[type="password"] {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
  }
  
  textarea.cyberpunk,
  .cyberpunk textarea {
    min-height: 120px;
    clip-path: polygon(
      0px 0px,
      50px 0px,
      75px 26px,
      105px 26px,
      130px 0px,
      calc(60% - 25px) 0px,
      60% 25px,
      100% 25px,
      100% calc(100% - 10px),
      calc(100% - 15px) calc(100% - 10px),
      calc(80% - 10px) calc(100% - 10px),
      calc(80% - 15px) calc(100% - 0px),
      10px calc(100% - 0px),
      0% calc(100% - 10px)
    );
  }
  
  select.cyberpunk,
  .cyberpunk select {
    width: 100%;
    appearance: none;
    position: relative;
    clip-path: polygon(
      0px 25px,
      60px 25px,
      85px 0px,
      calc(60% - 25px) 0px,
      60% 25px,
      calc(100% - 80px) 25px,
      calc(100% - 55px) 0px,
      100% 0px,
      100% calc(100% - 10px),
      calc(100% - 15px) calc(100% - 10px),
      calc(80% - 10px) calc(100% - 10px),
      calc(80% - 15px) calc(100% - 0px),
      10px calc(100% - 0px),
      0% calc(100% - 10px)
    );
  }
  
  select.cyberpunk option,
  .cyberpunk select option {
    color: var(--yellow-color);
    background-color: var(--black-color);
  }
  
  input[type="checkbox"].cyberpunk,
  .cyberpunk input[type="checkbox"] {
    border-radius: 15%;
    z-index: 100;
    height: 20px;
    width: 20px;
    appearance: none;
    outline: none;
    background-color: var(--black-color);
    cursor: pointer;
    position: relative;
    margin: 0px;
    margin-bottom: -3px;
    display: inline-block;
  }
  
  input[type="checkbox"].cyberpunk:before,
  .cyberpunk input[type="checkbox"]:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid var(--yellow-color);
    border-top: 2px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
  }
  
  input[type="checkbox"].cyberpunk:after,
  .cyberpunk input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 2px;
    height: 7px;
    background-color: var(--yellow-color);
    position: absolute;
    top: 3px;
    left: 9px;
  }
  
  input[type="checkbox"].cyberpunk:checked:before,
  .cyberpunk input[type="checkbox"]:checked:before {
    border-color: var(--border-color);
    border-top-color: transparent;
  }
  
  input[type="checkbox"].cyberpunk:checked:after,
  .cyberpunk input[type="checkbox"]:checked:after {
    background-color: var(--border-color);
  }
  
  .cyberpunk fieldset,
  fieldset.cyberpunk {
    border: 3px dotted var(--purple-color);
    margin: 10px 0px;
  }
  
  /* Scrollbar */
  
  ::-webkit-scrollbar {
    background-color: var(--yellow-color);
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  ::-webkit-scrollbar-track-piece {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--red-color);
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    transition: background var(--glitched-duration);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--orange-color);
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
  ::-webkit-resizer {
    display: none;
  }
  
  ul.cyberpunk > li,
  .cyberpunk ul > li {
    list-style: none;
    position: relative;
    font-size: 1.2rem;
  }
  
  ul.cyberpunk > li:before:not(ul.steps li:before),
  .cyberpunk ul > li:before:not(ul.steps li:before) {
    content: " ";
    top: 0px;
    left: calc(-1.2rem - 10px);
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--black-color);
    position: absolute;
    display: block;
    clip-path: polygon(0% 10%, 100% 70%, 40% 100%, 50% 70%);
  }
  
  .cyberpunk a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  .cyberpunk a:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 1.5px;
    background-color: var(--border-color);
    box-shadow: 0px 0px 8px 3px var(--border-color);
  }
  
  .cyberpunk a:hover:after {
    animation-name: scanneda;
    animation-duration: var(--glitched-duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
  
  @keyframes scanneda {
    0% {
      bottom: -1px;
    }
    100% {
      bottom: calc(100% + 1px);
    }
  }

  
  /* Buttons and links */
  
  button.cyberpunk,
  input[type="submit"].cyberpunk,
  a.cyberpunk {
    --text: "R-25";
    --background-color: var(--red-color);
    display: block;
    border: none;
    border-radius: 0%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 35px 75px;
    margin: 10px 20px 10px 0px;
    position: relative;
    color: #fff;
    border-right: 3px solid var(--border-color);
    clip-path: polygon(
      -15px 0%,
      calc(100% + 15px) 0%,
      calc(100% + 15px) 100%,
      20px 100%,
      -15px calc(100% - 35px)
    );
    cursor: pointer;
    background-color: var(--background-color);
    outline: none;
    display: inline-block;
  }
  
  button.cyberpunk:hover,
  a.cyberpunk:hover,
  input[type="submit"].cyberpunk:hover,
  button.cyberpunk:focus,
  a.cyberpunk:focus,
  input[type="submit"].cyberpunk:focus {
    animation-name: buttonhover;
    animation-duration: var(--glitched-duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  button.cyberpunk.purple,
  input[type="submit"].cyberpunk.purple,
  a.cyberpunk.purple {
    --background-color: var(--purple-color);
  }
  
  button.cyberpunk:after,
  input[type="submit"].cyberpunk:after,
  a.cyberpunk:after {
    content: var(--text);
    display: block;
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 2px 2px 0px 2px;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: var(--black-color);
    background-color: var(--yellow-color);
    border-left: 2px solid var(--border-color);
  }
  
  button.cyberpunk:hover:after,
  a.cyberpunk:hover:after,
  input[type="submit"].cyberpunk:after,
  button.cyberpunk:focus:after,
  a.cyberpunk:focus:after,
  input[type="submit"].cyberpunk:after {
    animation-name: buttonhoverafter;
    animation-duration: var(--glitched-duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  button.cyberpunk:before,
  a.cyberpunk:before,
  input[type="submit"].cyberpunk:before {
    --outside: 4px;
    content: "";
    position: absolute;
    display: none;
    background-color: var(--background-color);
    width: calc(100% + (var(--outside) * 2));
    height: 12px;
    top: 0px;
    left: calc(0px - 1px - var(--outside));
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
  }
  
  button.cyberpunk:hover:before,
  a.cyberpunk:hover:before,
  input[type="submit"].cyberpunk:hover:before,
  button.cyberpunk:focus:before,
  a.cyberpunk:focus:before,
  input[type="submit"].cyberpunk:focus:before {
    display: block;
    animation-name: buttonhoverbefore;
    animation-duration: var(--glitched-duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes buttonhover {
    0% {
      transform: skew(0deg);
    }
    60% {
      transform: skew(0deg);
    }
    61% {
      transform: skew(10deg);
    }
    70% {
      transform: skew(10deg);
    }
    71% {
      transform: skew(0deg);
    }
    100% {
      transform: skew(0deg);
    }
  }
  
  @keyframes buttonhoverbefore {
    0% {
      display: none;
      top: 0px;
    }
    10% {
      display: none;
      top: 0px;
    }
    11% {
      display: block;
      top: 10px;
      left: calc(0px - 0px - var(--outside));
    }
    29% {
      top: 10px;
    }
    30% {
      display: none;
      top: 0px;
    }
    50% {
      display: none;
      top: 0px;
    }
    51% {
      display: block;
      top: 55px;
      filter: blur(1px);
      height: 22px;
    }
    90% {
      display: block;
      top: 55px;
      height: 22px;
    }
    91% {
      filter: blur(0px);
      display: none;
      top: 0px;
      height: 12px;
    }
    100% {
      display: none;
      top: 0px;
    }
  }
  
  @keyframes buttonhoverafter {
    0% {
      right: 45px;
    }
  
    10% {
      right: 45px;
    }
    11% {
      right: 35px;
    }
    20% {
      transform: skew(0deg);
    }
    21% {
      transform: skew(-10deg);
    }
    40% {
      transform: skew(-10deg);
    }
    41% {
      transform: skew(0deg);
    }
    49% {
      right: 35px;
    }
    50% {
      right: 55px;
    }
  
    60% {
      right: 55px;
    }
    61% {
      right: 35px;
    }
    70% {
      transform: skew(0deg);
    }
    71% {
      transform: skew(10deg);
    }
    80% {
      transform: skew(10deg);
    }
    81% {
      transform: skew(0deg);
    }
    100% {
      right: 35px;
    }
  }