@import url(https://fonts.googleapis.com/css?family=Play:400,700);

.loader {
   display: none;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   pointer-events: none;
}

.loader_ring, .loader_inner__data {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

/* JOHNNY SILVERHAND */

.loader_border_ascii {
   position: absolute;
   top: 40%;
   left: 87.5%;
   width: 200px;
   height: 240px;
   /* Remove the solid border */
}

.loader_border_ascii:before, .loader_border_ascii:after,
.loader_border_ascii div:before, .loader_border_ascii div:after {
   content: '';
   position: absolute;
   border: 1px solid black; /* Border color and width */
}

.loader_border_ascii:before, .loader_border_ascii:after {
   width: 20px; /* Width of the corner lines */
   height: 20px; /* Height of the corner lines */
}

.loader_border_ascii:before {
   top: 0;
   left: 0;
   border-right: none;
   border-bottom: none;
}

.loader_border_ascii:after {
   top: 0;
   right: 0;
   border-left: none;
   border-bottom: none;
}

.loader_border_ascii div {
   position: absolute;
   width: 100%;
   height: 100%;
}

.loader_border_ascii div:before {
   bottom: 0;
   left: 0;
   border-top: none;
   border-right: none;
}

.loader_border_ascii div:after {
   bottom: 0;
   right: 0;
   border-top: none;
   border-left: none;
}

.loader_ascii pre {
   position: absolute;
   top: 40%;
   left: 85%;
   font-size: 6px;
   font-weight: bolder;
   white-space: pre;
   overflow: hidden;
   background: transparent;
   border: none;
   animation: typewriter 500ms steps(40, end) infinite normal both,
              hideText 2s forwards infinite;
}

@keyframes typewriter {
   0% { width: 0; }
   10% { width: 11%; }
   20% { width: 22%; }
   30% { width: 33%; }
   40% { width: 44%; }
   50% { width: 55%; }
   60% { width: 66%; }
   70% { width: 77%; }
   80% { width: 88%; }
   90% { width: 100%; }
   100% { width: 100%; }
}

@keyframes hideText {
   0% { opacity: 1; }
   20% { opacity: 0; }
   40% { opacity: 1; }
   60% { opacity: 0; }
   80% { opacity: 1; }
   100% { opacity: 0; }
}


/* INFO CONTINUE */

.loader_credit {
  position: absolute;
  left: 100px; /* Start 100px from the left edge of the viewport */
  right: 0; /* Extend to the right edge of the viewport */
  bottom: 0;
  height: 40px; /* Height of the black band */
  background-color: black; /* Black background */
  overflow: hidden;
  white-space: nowrap;
}

.loader_credit p {
  position: absolute;
  display: inline-block;
  font-size: 40px;
  animation: ticker 20s linear infinite;
  color: #fdf800; /* Ensuring text color is visible on black */
  text-shadow: 2px 2px 1px #ff003c;
  display: inline-block;
  margin: 0; /* Remove default margin */
  line-height: 40px; /* Align text vertically in the middle */
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-25%); }
}

/* CENSURE */

.loader_inner__text {
   position: absolute;
   left: calc(130px + 5px);
   top: 60%;
   transform: translateY(-50%);
   width: 150px;
   height: 600px;
   overflow: hidden;
   color: black;
   font-size: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loader_inner__text p {
   position: absolute;
   -webkit-animation: hiddenText 2s infinite;
   -moz-animation: hiddenText 2s infinite;
   -o-animation: hiddenText 2s infinite;
   -ms-animation: hiddenText 2s infinite;
   animation: hiddenText 2s infinite;
}

.loader p span {
   /* background-color: #efc02b; */
   background-color: black;
}

@-webkit-keyframes hiddenText {
   0% { left: 0; }
   20% { left: -1px; }
   40% { left: 0px; }
   45% { left: +1px; }
   60% { left:  0px; }
   80% { left: -1px; }
   100% { left: 0px; }
}

@keyframes hiddenText {
   0% { left: 0; }
   20% { left: -1px; }
   40% { left: 0px; }
   45% { left: +1px; }
   60% { left:  0px; }
   80% { left: -1px; }
   100% { left: 0px; }
}

/* ANIMATION CENTRALE */

.animation{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 400px;
  height: 600px;
  margin: 10% 35%;
  pointer-events: none;
}

.square{
  width: 100px;
  height: 100px;
  border: 2px solid rgba(189, 151, 41, 0.37);
}

.centerCircle{
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px dashed #ff003c;
  border-radius: 20px;
  animation: turnOverAndOverLeft 30s infinite linear;
}

/*** Cross ***/
.cross1{
   position: absolute;
   width: 80px;
   height: 2px;
   background-color: #ff003c;
   transform: rotate(45deg);
 }
 
 .cross2{
   position: absolute;
   width: 80px;
   height: 2px;
   background-color: #ff003c;
   transform: rotate(-45deg);
 }

/*** Satellites circles ***/

.satelliteCircle{
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 120px;
  border: 2px solid #ff003c;
  animation: satellite 5s infinite linear;
}
  .satelliteCircle:before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ff003c;
    position: absolute;
    left: 10px;
    top: -18px;
  }

.circle1{
  width: 145px;
  height: 145px;
  position: absolute;
  border-radius: 120px;
  border: 2px solid #222;
  animation: turnOverAndOverRight 2s infinite linear;
}

.circle2 {
  position: absolute;
  border: 4px solid #ff003c;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 150px;
  width: 143px;
  height: 143px;
  animation: turnOverAndOverRight 2s infinite linear;
}

.bigCircle{
  width: 180px;
  height: 180px;
  position: absolute;
  border-radius: 50%;
  border: 20px solid rgba(189, 151, 41, 0.37);
}

/*** dashed circles ***/

.thinCircle{
  width: 230px;
  height: 230px;
  position: absolute;
  border-radius: 190px;
  border: 2px solid #ff003c;
}

@keyframes turnOverAndOverRight {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

@keyframes turnOverAndOverLeft {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes satellite {
    from {-webkit-transform: rotateZ(0deg) translateX(160px) rotate(0deg)}
    to {-webkit-transform: rotateZ(-360deg) translateX(160px) rotate(-360deg)}
}

.ring {
   display: flex;
   width: 200px;
   height: 200px;
   border: 70px dashed #ff003c;
   position: absolute;
   border-radius: 100%;
   /* left: 44.7%; */
   animation: outerPulse 1s infinite;
   /* top: 39.4%; */
 }

 @keyframes outerPulse {
   0% { transform: scale(1.0); opacity: 0.7; }
   100% { transform: scale(1.3); opacity: 0; }
 }