/* Night mode styles */

@font-face {
  font-family: 'CP2077';
  src: url('fonts/Cyberpunk-Regular.ttf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "Glitch";
  src: url('fonts/Exima-Geometric.ttf');
  font-weight: normal;
  font-size: normal;
}

body.cyberpunk {
  background-color: #fdf800;
  color: black;
  font-family: 'Glitch';
  /* font-size: 18px; */
  margin: 0;
  padding:0;
}

.cyberpunk #root{
  background-color: inherit;
  color: inherit;
}

body.cyberpunk title,
body.cyberpunk h1 { /* Apply font-family to h6 elements only if body has cyberpunk class */
  font-family: 'CP2077'; /* Set font-family for all headings */
  background-color: 'CP2077';
  font-size: 64px;
  color: black;
  text-shadow: 2px 2px 1px #55ead4;
  font-family: 'CP2077';
  margin: 0;  
}

.cyberpunk #main-page{
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.cyberpunk .row{
  background-color: inherit;
  color: inherit;
}

.cyberpunk .container{
  background-color: inherit;
  color: inherit;
}

.cyberpunk .sidebar{
  background-color: black;
  font-family: 'CP2077';
}

.cyberpunk .sidebar > a{
  font-family: 'CP2077';
  color: #55ead4;
  text-transform: uppercase;
}

.cyberpunk .sidebar > a:hover{
  color: #fdf800;
  text-shadow: 2px 2px 1px #55ead4;
  text-transform: uppercase;
}

/* Custom cursor for night-city-mode */
body.cyberpunk {
  cursor: url('images/arrow.cur'), auto;
}

body.cyberpunk button {
  cursor: url('images/arrow.cur'), pointer;
}

body.cyberpunk a {
  cursor: url('images/arrow.cur'), pointer;
}

body.cyberpunk #textElement {
  cursor: url('images/arrow.cur'), text;
}

.cyberpunk #audioButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  background-color: #fdf800;
  color: black;
  border-color: black;
  display: flex;
  align-items: center;
}

/* New styles for canvas */
* { margin: 0; padding: 0; }
canvas { display: none; } /* Initially hidden */