.btn-dark {
    color: black;
}

.btn-light {
    color: black;
}

.night-city-mode #shifumi-start {
    color: #fdf800;
    text-shadow: 2px 2px 1px #ff1111;
    background-color: black;
}

#rock, #paper, #scissors {
    color: black;
}

.cyberpunk #rock, .cyberpunk #paper, .cyberpunk #scissors {
    color: white;
}

#difficultySlider {
    width: 200px; /* Adjust this value as needed */
}