body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  #pong {
    display: none; /* Initially hide the board */
  }  
  .content {
    margin-left: 200px;
    padding: 20px;
  }
  
  .jumbotron, .container, .row, .col-sm-6 {
    background-color: inherit;
    color: inherit;
  }
  
  