<div class="page-container align-center">
    <h4>Pong History</h4>
    {% if pong_stats %}
        {% for stat in pong_stats %}
            <p>{{ stat }}</p>
        {% endfor %}
    {% else %}
        <p>No Pong stats available.</p>
    {% endif %}

    <!-- Shifumi Stats Details -->
    <h4>Shifumi History</h4>
    {% if shifumi_stats %}
        {% for stat in shifumi_stats %}
            <p>{{ stat }}</p>
        {% endfor %}
    {% else %}
        <p>No Shifumi stats available.</p>
    {% endif %}
</div>