<div class="page-container align-center">
    <h1> Transcendence</h1>
    <p>Welcome to our final common core project (made with love) !</p>
    <br />
    <h2>CREDITS</h2>
    <p> ______________________________________________ </p>
    <p>aminjauw</p>
    <div class="socials-container">
        <a href="https://www.youtube.com/watch?v=gys9oDZj-MY" class="socials-card" target="_blank">
            <i class="mdi mdi-youtube"></i>
            <span>YouTube</span>
        </a>
        <a href="https://github.com/AMINJAUW" class="socials-card" target="_blank">
            <i class="mdi mdi-github"></i>
            <span>GitHub</span>
        </a>
    </div>
    <p>-------------------</p>
    <br />
    <p>chleroy</p>
    <div class="socials-container">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="socials-card" target="_blank">
            <i class="mdi mdi-youtube"></i>
            <span>YouTube</span>
        </a>
        <a href="https://github.com/Cleroy288" class="socials-card" target="_blank">
            <i class="mdi mdi-github"></i>
            <span>GitHub</span>
        </a>
    </div>
    <p>-------------------</p>
    <br />
    <p>nesdebie</p>
    <div class="socials-container">
        <a href="https://www.youtube.com/watch?v=p1i06QhmraU" class="socials-card" target="_blank">
            <i class="mdi mdi-youtube"></i>
            <span>YouTube</span>
        </a>
        <a href="https://github.com/nesdebie" class="socials-card" target="_blank">
            <i class="mdi mdi-github"></i>
            <span>GitHub</span>
        </a>
        <a href="https://x.com/nestouf" class="socials-card" target="_blank">
            <i class="mdi mdi-twitter"></i>
            <span>Twitter</span>
        </a>
    </div>
</div>