<div class="page-container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="text-center">Register</h2>
			<form id="register-form" class="register-form" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<label id="1" for="register-username">Username</label>
					<input type="text" class="form-control" id="register-username" placeholder="username" name="username" required maxlength="30"> <!-- Added pattern for alphanumeric validation -->
					<span id="username-error" class="error-message text-danger"></span>
				</div>
				<div class="form-group">
					<label for="register-password">Password</label>
					<input type="password" class="form-control" id="register-password" placeholder="password" name="password" required>
					<span id="password-error" class="error-message text-danger"></span>
				</div>
				<div class="form-group">
					<!-- <label for="register-password2">Password confirmation</label> -->
					<input type="password" class="form-control" id="register-password2" placeholder="password confirmation" name="password2" required>
					<span id="password2-error" class="error-message text-danger"></span>
				</div>
				<div class="form-group">
					<label for="register-email">Email</label>
					<input type="email" class="form-control" id="register-email" placeholder="example@s19.be" name="email" required>
					<span id="email-error" class="error-message text-danger"></span>
				</div>
				<div class="form-group">
					<label for="register-image">Profile Picture (optional)</label>
					<input type="file" class="form-control" id="register-image" name="image">
					<span id="image-error" class="error-message text-danger"></span>
				</div>
				<!-- 2FA -->
				<div class="form-group" id="2fa-section">
					<input type="checkbox" id="register-2fa" name="two_factor_auth">
					<label for="register-2fa">Enable Two-Factor Authentication (2FA)</label>
				</div>
				<!-- QR Code Display -->
				<div id="qr-code-container" class="form-group" style="display:none;">
				    <p>Scan the QR Code with your Authenticator App</p>
				    <div id="qr-code"></div>
				</div>
				<!-- End of QR Code Display -->
				<!---->
				<button id="register-form-button" type="submit" class="btn btn-primary btn-block">Register</button>
				<!-- AUTH -->
				<button href="#" id="register-with-42" class="btn btn-dark btn-block">Register with 42</button>
			</form>
			<p class="text-center">
				Have an account yet? <a href="/login" onclick="route(event)">Login</a>
			</p>
		</div>
	</div>
</div>