<div class="page-container align-center"">
    <h1>Tournament Overview</h1>
    <h2>Participants</h2>
    <table id="participants-table" data-tournament="{{ tournament_data }}" data-nicknames="{{ nicknames }}">
        <thead>
            <tr>
                <th>Player</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="Players_score-list" data-currentUser="{{ request.user.username }}" >
            <!-- Participants will be populated here -->
        </tbody>
    </table>
    <ul id="final_positions">
        <!-- showing the postions of everybody at the end of the tournament -->
    </ul>
    <ul id="game-history">
        <!-- Game history will be populated here -->
    </ul>
    <ul id="upcoming-games">
        <!-- Upcoming games will be populated here -->
    </ul>
</div>